##Name: Jainisha Choksi

##100 Python Problems from **Campusx**

User will input 3 ages.Find the oldest one.

In [ ]:
age1 = int(input("Enter age of 1st: "))
age2 = int(input("Enter age of 2nd: "))
age3 = int(input("Enter age of 3rd: "))

Enter age of 1st:  30
Enter age of 2nd: 40
ENter age of 3rd: 35

In [ ]:
if age1 > age2:
  if age1 > age3:
    print("Oldest is: ", age1)
  else:
    print("Oldest is: ", age3)
else:
  if age2 > age3:
    print("Oldest id: ", age2)
  else:
    print("Oldest is: ",age3)

Oldest id:  40

Write a program that will convert celsius value to fahrenheit.

In [ ]:
temperature = float(input("Enter temperatue: "))

Enter temperatue: 45.5

In [ ]:
far = ((9/5)*temperature) +32
print(f"{temperature}C is equal to {far}F")

45.5C is equal to 113.9F

User will input 2 numbers. Write a program to swap the numbers.

In [ ]:
number1 = int(input("Enter 1st number: "))
number2 = int(input("Enter 2nd number: "))

Enter 1st number: 30
Enter 2nd number: 50

In [ ]:
temp = number1
number1 = number2
number2 = temp
print("After Swapping:")
print("Number1 =", number1)
print("Number2 =", number2)

After Swapping:
Number1 = 50
Number2 = 30

In [ ]:
number1 = number1 + number2
number2 = number1 - number2
number1 = number1 - number2
print("After Swapping:")
print("Number1 = ", number1)
print("Number2 = ", number2)

After Swapping:
Number1 =  30
Number2 =  50

Write a program that will give you the sum of 3 digits

In [ ]:
digit1 = int(input("Enter 1st digit: "))
digit2 = int(input("Enter 2nd digit: "))
digit3 = int(input("Enter 3rd digit: "))

Enter 1st digit: 20
Enter 2nd digit: 32
Enter 3rd digit: 45

In [ ]:
sum = digit1+ digit2+ digit3
print("Total Sum = ", sum)

Total Sum =  97

Write a program that will reverse a four digit number.Also it check whether the reverse is true.

In [ ]:
number = int(input("Enter a four digit number: "))
rev = 0
while number!=0:
  digit = number %10
  rev = rev*10 +digit
  number = number //10

print("Reverse Number: ", rev)

Enter a four digit number: 1234
Reverse Number:  4321

In [ ]:
number = int(input("Enter a four digit number: "))
number = str(number)

revs = number[::-1]
revs = int(revs)
print("Reverse Number: ", revs)

Enter a four digit number: 1234
Reverse Number:  4321

write a program that will tell whether the number entered by the user is odd or even

In [ ]:
number = int(input("Enter a number: "))

Enter a number: 45

In [ ]:
if number %2 ==0:
  print(f"{number} is even.")
else:
  print(f"{number} is odd.")

45 is odd.

Write a program that will tell whether the given year is a leap or not

In [ ]:
year = int(input("Enter a Year: "))

if year % 4 == 0:
    if year % 100 != 0 or year % 400 == 0:
        print(f"{year} is a Leap Year")
    else:
        print(f"{year} is not a Leap Year")
else:
    print(f"{year} is not a Leap Year")

Enter a Year: 2000
2000 is a Leap Year

Write a progrm to find the euclidean distance between two coordinates

In [ ]:
x1,y1 = map(float, input("Enter the coordinates of point1: ").split())
x2,y2 = map(float, input("Enter the coordinates of point2: ").split())

Enter the coordinates of point1: 3 4.5
Enter the coordinates of point2: 5.5 6

In [ ]:
x = (x1 - x2)**2
y = (y1 - y2)**2
dis = x + y
dis = (dis)**(0.5)
print("Euclidean distance is: ", dis)

Euclidean distance is:  2.9154759474226504

Write a program that take a user input of 3 angles and will find out whether it can form a triangle or not.

In [ ]:
angle1 = int(input("Enter angle 1: "))
angle2 = int(input("Enter angle 2: "))
angle3 = int(input("Enter angle 3: "))

Enter angle 1: 90
Enter angle 2: 45
Enter angle 3: 45

In [ ]:
sum = angle1 + angle2 + angle3
if sum == 180:
  if (angle1 + angle2 > angle3) and (angle1 + angle3 > angle2) and (angle2+ angle3 > angle1):
    print("This angles can make Triangle")
  else:
    print("This angles can not make Triangle")

This angles can not make Triangle

Write a program that will take user input of cost price and price and determines whether its a loss or a profit.

In [ ]:
cp = float(input("Enter cost price of the article: "))
sp = float(input("Enter selling price of the article: "))

Enter cost price of the article: 58.9
Enter selling price of the article: 98

In [ ]:
difference = sp-cp
if difference > 0:
  print("It's Profit.")
else:
  print("It's Loss.")

It's Profit.

In [ ]:
percentage = (difference/cp)*100
if difference > 0:
  print("Profit percentage: ", percentage)
else:
  print("Loss percentage: ", percentage)

Profit percentage:  66.383701188455

Write a program to find the simple interest when the value of principal, rate of interest and time period is given

In [ ]:
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the Rate of Interest: "))
time = float(input("Enter the Time Period: "))

Enter the principal amount: 5000
Enter the Rate of Interest: 5.6
Enter the Time Period: 3

In [ ]:
si = (principal * rate * time)/100
print("Simple Interest: ", si)

Simple Interest:  840.0

Write a program to find the volume of the cylinder.Also find the cost when, when the cost of 1 litre milk is rs 40.

In [ ]:
radius = float(input("Enter radius in cm: "))
height = float(input("Enter height in cm: "))

Enter radius: 4.4
Enter height: 2

In [ ]:
volume = ((22/7)*radius*radius*height)
print("The Volume of Cylinder: ", volume)

The Volume of Cylinder:  121.69142857142859

In [ ]:
price = (volume *40)
print("The cost for milk in cylinder is: ",price)

The cost for milk in cylinder is:  4867.657142857143

Write a program that will tell whether the given number is divisible by 3 & 6.

In [ ]:
number = int(input("Enter a number: "))

Enter a number: 18

In [ ]:
if number%3 == 0 and number%6== 0:
  print(f"The {number} is divisible by 3 and 6.")
elif number%3==0:
  print(f"The {number} is divisible by 3 only.")
elif number%6==0:
  print(f"The {number} is divisble by 6 only")
else:
  print(f"The {number} is not divisible by 3 and 6.")

The 18 is divisible by 3 and 6.

Angle between hour and minute hand

In [ ]:
hour = int(input("Enter the hour: "))
minute = int(input("Enter the minute: "))

Enter the hour: 4
Enter the minute: 50

In [ ]:
angle = ((30*hour)-(11*minute))/2
if angle>0:
  print("The angle is: ", angle)
else:
  print("The angle is: ",(-1)*angle)

The angle is:  215.0

Overlapping Rectangles: Given 2 rectangles, find if the given 2 rectangles overlap or not.A rectangle is denoted by providing the x anf y coordinates of 2 points: the left top corner and the right bottom corner of the rextangle.Two rectangles sharing a side are considered overlapping.

In [ ]:
# Input for rectangle 1
x1_rect1, y1_rect1 = map(int, input("Enter the x and y coordinates of the left top corner of rectangle 1 separated by space: ").split())
x2_rect1, y2_rect1 = map(int, input("Enter the x and y coordinates of the right bottom corner of rectangle 1 separated by space: ").split())

# Input for rectangle 2
x1_rect2, y1_rect2 = map(int, input("Enter the x and y coordinates of the left top corner of rectangle 2 separated by space: ").split())
x2_rect2, y2_rect2 = map(int, input("Enter the x and y coordinates of the right bottom corner of rectangle 2 separated by space: ").split())

# Check if one rectangle is to the left of the other
if x2_rect1 < x1_rect2 or x2_rect2 < x1_rect1:
    print("Rectangles do not overlap.")
# Check if one rectangle is above the other
elif y2_rect1 > y1_rect2 or y2_rect2 > y1_rect1:
    print("Rectangles do not overlap.")
else:
    print("Rectangles overlap.")

Enter the x and y coordinates of the left top corner of rectangle 1 separated by space: 4 5
Enter the x and y coordinates of the right bottom corner of rectangle 1 separated by space: 5 3
Enter the x and y coordinates of the left top corner of rectangle 2 separated by space: 3 4
Enter the x and y coordinates of the right bottom corner of rectangle 2 separated by space: 5 1
Rectangles overlap.

Write a program that will determine weather when the value of temperature and humidity is provided by the user.

TEMPERATURE(C)                     HUMIDITY(%)             WEATHER

      >= 30                             >=90                Hot and Humid
      >= 30                             < 90                 Hot
      <30                                >= 90               Cool and Humid
      <30                                 <90                 Cool

In [ ]:
temperature = float(input("Enter temperature: "))
humidity = float(input("Enter humidity: "))

Enter temperature: 45
Enter humidity: 55

In [ ]:
if temperature >= 30 and humidity >= 90:
  print("Weather is Hot and Humid")
elif temperature >= 30 and humidity < 90:
  print("Weather is Hot")
elif temperature <30 and humidity >= 90:
  print("Weather is Cool and Humid")
elif temperature <30 and humidity <90:
  print("Weather is Cool")

Weather is Hot

Write a program that will take 3 digits from the user and add the square of each digit

In [ ]:
digit1 = int(input("Enter digit 1: "))
digit2 = int(input("Enter digit 2: "))
digit3 = int(input("Enter digit 3: "))

Enter digit 1: 3
Enter digit 2: 4
Enter digit 3: 5

In [ ]:
square1 = digit1**2
square2 = digit2**2
square3 = digit3**2
sum = square1 + square2 + square3
print("The sum of sqaure is: ", sum)

The sum of sqaure is:  50

Write a program that will check whether the number is armstrong number or not

In [ ]:
number = int(input("Enter a number: "))
original_number = number

rev = 0
sum_of_cubes = 0

while number != 0:
    digit = number % 10
    rev = rev * 10 + digit
    sum_of_cubes += digit ** 3
    number = number // 10

if original_number == sum_of_cubes:
    print(f"The {original_number} is an Armstrong number.")
else:
    print(f"The {original_number} is not an Armstrong number.")

Enter a number: 153
The 153 is an Armstrong number.

Write a program that will take user input of 4 digit number and check whether the number is narcissit number or not

In [ ]:
number = int(input("Enter a number: "))
power = int(input("Enter the power: "))
original = number
rev = 0
sum_power = 0
while number !=0:
  digit = number %10
  rev = rev *10 +digit
  sum_power = sum_power + (digit**power)
  number = number//10

if original ==sum_power:
  print(f"The {original} is Narcissist number")
else:
  print(f"The {original} is not Narcissist number")

Enter a number: 250
Enter the power: 2
The 250 is not Narcissist number

Write a program that will give you the in hand salary after deduction of HRA(10%), DA(5%), PF(3%) and tax(if salary is between  5-10 lakh 10%, 11-20 lakh 20%, 20< 30%)(0-1 lakh print k)

In [ ]:
salary = int(input("Enter your salary: "))

Enter your salary: 2500000

In [ ]:
hra = (salary*10)/100
print("HRA: ",hra)
da = (salary*5)/100
print("DA:", da)
pf = (salary*3)/100
print("PF: ", pf)
if 500000 <= salary <= 1000000:
  tax = (salary*10)/100
elif 1100000 <= salary <= 2000000:
  tax = (salary*20)/100
elif salary > 2000000:
  tax = (salary*30)/100

print("Tax: ", tax)
inhand = salary - hra - da - tax
print("In-hand salary is: ", inhand)

HRA:  250000.0
DA: 125000.0
PF:  75000.0
Tax:  750000.0
In-hand salary is:  1375000.0

Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit

In [ ]:
while True:
    print("\nMenu:")
    print("1. Convert centimeters to feet")
    print("2. Convert kilometers to miles")
    print("3. Convert US dollars to Indian Rupees")
    print("4. Exit")

    choice = input("Enter your choice (1/2/3/4): ")

    if choice == '1':
        cm = float(input("Enter length in centimeters: "))
        feet = cm / 30.48
        print(f"{cm} centimeters is equal to {feet:.2f} feet")
    elif choice == '2':
        km = float(input("Enter distance in kilometers: "))
        miles = km * 0.621371
        print(f"{km} kilometers is equal to {miles:.2f} miles")
    elif choice == '3':
        usd = float(input("Enter amount in US dollars: "))
        inr = usd * 74.68
        print(f"{usd} US dollars is equal to {inr:.2f} Indian Rupees")
    elif choice == '4':
        print("Exiting program. Goodbye!")
        break
    else:
        print("Invalid choice. Please enter a valid option (1/2/3/4).")

Menu:
1. Convert centimeters to feet
2. Convert kilometers to miles
3. Convert US dollars to Indian Rupees
4. Exit
Enter your choice (1/2/3/4): 3
Enter amount in US dollars: 590
590.0 US dollars is equal to 44061.20 Indian Rupees

Menu:
1. Convert centimeters to feet
2. Convert kilometers to miles
3. Convert US dollars to Indian Rupees
4. Exit
Enter your choice (1/2/3/4): 2
Enter distance in kilometers: 43
43.0 kilometers is equal to 26.72 miles

Menu:
1. Convert centimeters to feet
2. Convert kilometers to miles
3. Convert US dollars to Indian Rupees
4. Exit
Enter your choice (1/2/3/4): 1
Enter length in centimeters: 3423
3423.0 centimeters is equal to 112.30 feet

Menu:
1. Convert centimeters to feet
2. Convert kilometers to miles
3. Convert US dollars to Indian Rupees
4. Exit
Enter your choice (1/2/3/4): 4
Exiting program. Goodbye!

Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [ ]:
head = int(input("Enter number of heads: "))
legs = int(input("Enter number of legs: "))

Enter number of heads: 2
Enter number of legs: 8

In [ ]:
heads = 4*head
chicken = (heads - legs)/2
dog = (head - chicken)

print(f"Number of {dog} dogs and {chicken} chickens.")

Number of 2.0 dogs and 0.0 chickens.

Write a program to find the sum of first n number , where n will be provided by the user.

In [ ]:
n = int(input("Enter a number: "))
sum = 0
for i in range (n+1):
  sum = sum + i
print("The sum of n numbers is: ", sum)

Enter a number: 10
The sum of n numbers is:  55

In [ ]:
sum = 0
while n != 0:
  sum = sum + n
  n= n-1
print("The sum of n numbers is: ",sum)

The sum of n numbers is:  55

Write a program that can multiply 2 numbers provided by the user without using * operator

In [ ]:
number1 = int(input("Enter 1st number: "))
number2 = int(input("Enter 2nd number: "))

Enter 1st number: 4
Enter 2nd number: 5

In [ ]:
multiply = 0
for i in range (number1):
  multiply = multiply + number2

print(f"The multiplication of {number1} and {number2} is {multiply}")

The multiplication of 4 and 5 is 20

Write a program that can find the factorial of a given number provided by the user.

In [ ]:
number = int(input("Enter a number: "))
fact = 1
for i in range (1,number +1):
  fact = fact*i
print(f"The factorial of {number} is {fact}.")

Enter a number: 5
The factorial of 5 is 120.

In [ ]:
number = int(input("Enter a number: "))
fact = 1
original = number
while number != 1:
  fact = fact *number
  number = number-1
print(f"The factorial of {original} is {fact}")

Enter a number: 5
The factorial of 5 is 120

Write a program to print the first 25 odd number

In [ ]:
n = int(input("Enter a number: "))
for i in range(n+1):
  if i%2 != 0:
    print(i," ")

Enter a number: 50
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Write a program to print whether a given number is prime number or not.

In [ ]:
number = int(input("Enter a number: "))

if number > 1:
    is_prime = True
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")
else:
    print("Prime numbers are greater than 1.")

Enter a number: 73
73 is a prime number.

Print all the armstrong numbers in the range of 100 to 1000.

In [ ]:
for number in range(100, 1000):
    num_digits = len(str(number))
    sum_of_powers = 0
    temp = number
    while temp > 0:
        digit = temp % 10
        sum_of_powers += digit ** num_digits
        temp //= 10
    if number == sum_of_powers:
        print(number)

153
370
371
407

The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
population = int(input("Enter the current population: "))
for i in range (1,11):
  percentage = (population *10)/100
  population = population - percentage
  print(f"The population in {11-i} is population: {population} ")

Enter the current population: 10000
The population in 10 is population: 9000.0
The population in 9 is population: 8100.0
The population in 8 is population: 7290.0
The population in 7 is population: 6561.0
The population in 6 is population: 5904.9
The population in 5 is population: 5314.41
The population in 4 is population: 4782.969
The population in 3 is population: 4304.6721
The population in 2 is population: 3874.20489
The population in 1 is population: 3486.784401

Write a program to print all unique combinations of 1,2,3 and 4.

In [ ]:
from itertools import combinations

elements = [1, 2, 3, 4]

for r in range(1, len(elements) + 1):
    for combination in combinations(elements, r):
        print(combination)

(1,)
(2,)
(3,)
(4,)
(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)
(1, 2, 3)
(1, 2, 4)
(1, 3, 4)
(2, 3, 4)
(1, 2, 3, 4)

User will provide 2 numbers you have to find the HCF of those 2 numbers

In [ ]:
number1 = int(input("Enter 1st number: "))
number2 = int(input("Enter 2nd number: "))

Enter 1st number: 6
Enter 2nd number: 9

In [ ]:
if number1 > number2:
  small = number2
else:
  small = number1

for i in range(1,small+1):
  if number1 %i == 0 and number2 % i == 0:
    hcf = i
print("HCF is: ",hcf)

HCF is:  3

User will provide 2 numbers you have to find the by LCM of those 2 numbers.

In [ ]:
number1 = int(input("Enter 1st number: "))
number2 = int(input("Enter 2nd number: "))

Enter 1st number: 3
Enter 2nd number: 5

In [ ]:
if number1  > number2:
  small = number2
else:
  small = number1

for i in range (1, small+1):
  if number1%i == 0 and number2%i ==0:
    hcf = i

num = number1*number2
lcm = num/hcf

print("The LCM is: ",lcm)

The LCM is:  15.0

Print first 25 prime number

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

count = 0
num = 2
print("First 25 prime numbers:")
while count < 25:
    if is_prime(num):
        print(num, end=" ")
        count += 1
    num += 1

First 25 prime numbers:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Print the first 20 numbers of a Fibonacci series

In [ ]:
n1 = 1
n2 = 1
for i in range (1,21):
  n = n1+n2
  n1 = n2
  n2 = n
  print(n)

2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

Write a program to find the compound interest.

In [ ]:
principal = int(input("Enter principal: "))
rate = int(input("Enter rate of interest: "))/100
time = int(input("Enter time period: "))
n = int(input("Compuond Interest Time: "))

x = rate/n
y = n*time

amount = (principal*(1+x)**y)
ci = amount - principal

print(f"The amount for caculating compound interest of {rate} for {time} on {principal} is {amount} and compound interest is {ci} ")

Enter principal: 1000
Enter rate of interest: 3
Enter time period: 2
Compuond Interest Time: 5
The amount for caculating compound interest of 0.03 for 2 on 1000 is 1061.6461941293835 and compound interest is 61.6461941293835

Write a Python program that accepts an integer (n) and computes the value of n + nn + nnn.

In [ ]:
n = int(input("Enter a 1 digit number: "))

result = n + int(str(n)*2) + int(str(n)*3)
print(f"The result for {n} is {result}")

Enter a 1 digit number: 5
The result for 5 is 615

Take a number from the user and find the number of digits in it

In [ ]:
number = int(input("Enter a number: "))

length = len(str(number))
print(f"The number of digits in {number} is {length}")

Enter a number: 53
The number of digits in 53 is 2

Print all factors of a given number provided by the user.

In [1]:
number = int(input("Enter a number: "))
for i in range (1,number+1):
  if number%i==0:
    print(i)

Enter a number: 6
1
2
3
6

Write a program to print the following pattern:

*

**

***

****

*****

In [3]:
for i in range (1,6):
  print("*"*i)

*
**
***
****
*****

Write a program to print the following pattern:

*

**

***

**

*

In [4]:
for i in range (1,4):
  print("*"*i)
for i in range (1,3):
  print("*"*(3-i))

*
**
***
**
*

Write  a program to print the following pattern

        *
        
      * * *

    * * * * *

   * * * * * * *

In [8]:
for i in range (1,10):
  if i%2 != 0:
    print(" "*int((9-i)/2), "*"*i, " "*int((9-i)/2))

     *
    ***
   *****
  *******
 *********

Write a program to print the following pattern

1

1 2 1

1 2 3 2 1

1 2 3 4 3 2 1

1 2 3 4 5 4 3 2 1

In [10]:
for i in range (1,6):
  for j in range (1,i+1):
    print(j,end = " ")
  for j in range (1,i):
    print(i-j, end = " ")
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

Write a program to print the following pattern

1

2 3

4 5 6

7 8 9 10

In [20]:
number = 1
for i in range (1,5):
  for j in range (1,i+1):
    print(number, end=" ")
    number = number +1
  print()

1
2 3
4 5 6
7 8 9 10

In [17]:
for i in range (0,11):
  for j in range (0,i):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [19]:
for i in range (1,11):
  for j in range (1,i):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

Write a program to calculate the sum of the following series till the nth term
1/1! + 2/2! + 3/3! + 4/4! +.+ n/n!
n will be provided by the user

In [22]:
n = int(input("Enter a number: "))
sum = 0

for i in range(1, n + 1):
    fact = 1
    for j in range(1, i + 1):
        fact = fact * j
    sum = sum + i / fact

print("Sum of the series:", sum)

Enter a number: 3
Sum of the series: 2.5

Write a Python Program to Find the Sum of the Series till the nth term:
1 + x^2/2 + x^3/3 +  x^n/n
n will be provided by the user

In [24]:
n = int(input("Enter a number: "))
x = int(input("Enter a value of x: "))
sum = 0
for i in range(1,n+1):
  sum = sum + ((x**i)/i)
print("The sum of the series: ",sum)

Enter a number: 4
Enter a value of x: 3
The sum of the series:  36.75

The natural logarithm can be approximated by the following series.

If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [30]:
x = float(input("Enter the value of x: "))
sum = 0

for i in range(1, 8):
    term = ((x - 1) ** i) / i
    if i % 2 == 0:
        term *= -1
    sum += term

print(f"The natural logarithm of {x} is approximately {sum}")

Enter the value of x: 4
The natural logarithm of 4.0 is approximately 226.77857142857144

Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers

In [33]:
sum = 0
avg = 0
count = 0
while True:
  n = int(input("Enter a number: "))
  if n == 0:
    break
  else:
    sum = sum + n
    count = count+1

avg = sum/count
print(f"The sum of numbers is {sum} and average is {avg} ")

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 0
The sum of numbers is 10 and average is 2.5

Write a program that accepts 2 numbers from the user a numerator and a denominator and then simplifies it
Eg if the num = 5, den = 15 the answer should be 
Eg if the num = 6, den = 9 the answer should be

In [2]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

def simplify_fraction(num, den):
    common_divisor = gcd(num, den)

    simplified_num = num // common_divisor
    simplified_den = den // common_divisor

    return simplified_num, simplified_den

# Accept numerator and denominator from the user
num, den  = map(int, (input("Enter the numerator: ")).split())

simplified_num, simplified_den = simplify_fraction(num, den)

print(f"The simplified fraction is {simplified_num}/{simplified_den}")

Enter the numerator: 5 15
The simplified fraction is 1/3

Find the length of a given string without using the len() function.

In [3]:
s = input("Enter a string: ")
count = 0
for char in s:
  count +=1

print(f"The length of {s} is {count}.")

Enter a string: Jainisha
The length of Jainisha is 8.

Extract username from a given email.

In [4]:
email = input("Enter an email: ")
x = email.split('@')
print(f"The username of user of the {email} is {x[0]}.")

Enter an email: jainishatchoksi@gmail.com
The username of user of the jainishatchoksi@gmail.com is jainishatchoksi.

In [9]:
email = input("Enter Email address: ")
x = email.split('@')
username = x[0]
domain = x[1].split('.')[0]

print("Username:", username)
print("Domain:", domain)

Enter Email address: jainishatchoksi@gmail.com
Username: jainishatchoksi
Domain: gmail

Count the frequency of a particular character in a provided string.

In [10]:
s = input("Enter a string: ")
c = input("Enter a character: ")

count = 0
for i in s:
  if i == c:
    count +=1

print(f"The frequency of {c} in this {s} is {count}")

Enter a string: Jainisha
Enter a character: a
The frequency of a in this Jainisha  is 2

In [11]:
def count_all_characters(string):
    frequency = {}
    for char in string:
        # Increment the count for the current character or initialize it to 0 if not present
        frequency[char] = frequency.get(char, 0) + 1
    return frequency

# Example usage
input_string = input("Enter a string: ")
char_frequency = count_all_characters(input_string)
print("Character frequency:")
for char, count in char_frequency.items():
    print(f"'{char}': {count}")

Enter a string: Jainisha
Character frequency:
'J': 1
'a': 2
'i': 2
'n': 1
's': 1
'h': 1

Find the index position of a particula character in another string.

In [12]:
s = input("Enter a string: ")
c = input("Enter a character: ")

def find_character_index(string, char):
    for i, j in enumerate(string):
        if j == char:
            return i
    return -1

index = find_character_index(s, c)
if index != -1:
    print(f"The character '{c}' is found at index position {index}.")
else:
    print(f"The character '{c}' is not found in the string.")

Enter a string: Jainisha
Enter a character: a
The character 'a' is found at index position 1.

Count the number of vowels in a string provided by the user.

In [13]:
string = input("Enter a string: ")
count = 0
for c in string:
  if ((c == 'a') or (c == 'e') or (c == 'i') or (c == 'o') or (c == 'u')):
    count +=1

print(f"The number of vowels in {string} is {count}")

Enter a string: Jainisha
The number of vowels in Jainisha  is 4

Write a program which can remove a particular character from a string.

In [14]:
original_string = input("Enter a string: ")
char = input("Enter a character to remove: ")

result = original_string.replace(char,"")
print(f"The {original_string} after removing a {char} is {result}.")

Enter a string: Jainisha
Enter a character to remove: a
The Jainisha after removing a a is Jinish.

Write a program that can check whether a given string is palindrome or not.

In [17]:
string = input("Enter a string: ")
string = string.lower()
rev = string[::-1]

if string == rev:
  print(f"The {string} is Palindrome.")
else:
  print(f"The {string} is Not Palindrome.")

Enter a string: Jainisha
The jainisha is Not Palindrome.

In [19]:
string = input("Enter a string: ")
string = string.lower()
rev = string[::-1]

if string == rev:
  print(f"The {string} is Palindrome.")
else:
  print(f"The {string} is Not Palindrome.")

Enter a string: Madam
The madam is Palindrome.

Write a program to remove all the duplicates from a list.

In [21]:
li = input("Enter a list: ").split()
x = list(set(li))

print("List after removing duplicates: ",x)

Enter a list: j a i n i s h a
List after removing duplicates:  ['a', 'h', 'n', 's', 'i', 'j']

Write a program to convert a string to title case without using the title()

In [22]:
string = input("Enter a string: ")
s = string.title()
print("The Title case string:", s)

Enter a string: jainisha
The Title case string: Jainisha

In [27]:
string = input("Enter a string: ")
s = string[0].upper() + string[1:].lower()
print("The title case string: ", s)

Enter a string: jainisha
The title case string:  Jainisha

Write a program to find the max item from a list without using max function

In [29]:
li = input("Enter a list: ").split()
lis = max(li)
print("Maximun item: ",lis)

Enter a list: 1 2 3 4
Maximun item:  4

In [32]:
li = input("Enter a list:").split()
max = li[0]

for i in li[1:]:
  if i > max:
    max = i

print("Maximun item: ",max)

Enter a list:1 2 3 4
Maximun item:  4

Write a program to reverse a list

In [36]:
li = input("Enter a list: ").split()
lis = li[::-1]
print("The reverse of list:",list(lis))

Enter a list: 1 2 3 4
The reverse of list: ['4', '3', '2', '1']

Write a program to search a given number from a list

In [40]:
li = input("Enter a list: ").split()
num = input("Enter a number to search: ")

for index, value in enumerate(li):
    if value == num:
        print("The number is at index:", index)

Enter a list: 1 2 3 4
Enter a number to search: 3
The number is at index: 2

Write a program that can create a new list from a given list where each item in the new list is square of the item of the oldest one

In [42]:
li = list(map(int, input("Enter a list: ").split()))
squ = [x**2 for x in li]
print("The squared list is: ",squ)

Enter a list: 1 2 3 4
The squared list is:  [1, 4, 9, 16]

Write a program that can reverse words of a given string

In [43]:
string = input("Enter a string: ")
words = string.split()
rev = words[::-1]
print("The Reverse string is: ",rev)

Enter a string: hello world how are you
The Reverse string is:  ['you', 'are', 'how', 'world', 'hello']

Write a program that can count the number of words in a given string

In [44]:
string = input("Enter a string: ")
words = string.split()
word_len = len(words)

print("The length of string is: ",word_len)

Enter a string: hello world how are you
The length of string is:  5

Write a program to check if a list is in ascending order or not

In [50]:
li = list(map(int, input("Enter a list: ").split()))
is_ascending = True

for i in range(1, len(li)):
    if li[i] < li[i - 1]:
        is_ascending = False
        break

if is_ascending:
    print("List is in ascending order.")
else:
    print("List is not in ascending order.")

Enter a list: 1 2 3 4
List is in ascending order.

Create 2 lists from a given list where 1st list will contain all the odd number from the original list and 2nd one will contain all the even numbers.

In [52]:
li = list(map(int, input("Enter a list: ").split()))

lio = []
lie = []

for i in range (len(li)):
  if li[i]%2 == 0:
    lie.append(li[i])
  else:
    lio.append(li[i])

print("Odd List: ",lio)
print("Even List: ",lie)

Enter a list: 1 2 3 4
Odd List:  [1, 3]
Even List:  [2, 4]

Write a program to merge 2 list without using the + operator

In [53]:
li1 = list(map(int, input("Enter list 1: ").split()))
li2 = list(map(int, input("Enter list 2: ").split()))

li = li1 + li2
print("Final List: ",li)

Enter list 1: 1 2
Enter list 1: 3 4
Final List:  [1, 2, 3, 4]

In [56]:
li1 = list(map(int, input("Enter list 1: ").split()))
li2 = list(map(int, input("Enter list 2: ").split()))

li1.extend(li2)

print("Final List: ",li1)

Enter list 1: 1 2
Enter list 2: 3 4
Final List:  [1, 2, 3, 4]

Write a program to replace an item with a different item if found in the list

In [58]:
string = input("Enter a string: ")
c = input("Enter a character to replace: ")
x = input("Enter a character to be replaced: ")

string = string.replace(c, x)

print("The new string is: ", string)

Enter a string: jainisha
Enter a character to replace: a
Enter a character to be replaced: e
The new string is:  jeinishe

Write a program that can convert a 2D list to 1D list.

In [59]:
li2D = [[1,2,3],[4,5,6],[7,8,9]]

li1D = []
for sublist in li2D:
  li1D.extend(sublist)

print("1D list is: ",li1D)

1D list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

Write a program that can perform union and intersection on 2 given list

In [60]:
def union(list1, list2):
    # Perform union using set union operator |
    return list(set(list1) | set(list2))

def intersection(list1, list2):
    # Perform intersection using set intersection operator &
    return list(set(list1) & set(list2))

# Example usage
list1 = list(map(int, input("Enter list 1: ").split()))
list2 = list(map(int, input("Enter list 2: ").split()))

union_result = union(list1, list2)
intersection_result = intersection(list1, list2)

print("Union:", union_result)
print("Intersection:", intersection_result)

Enter list 1: 1 2 3
Enter list 2: 3 4 5
Union: [1, 2, 3, 4, 5]
Intersection: [3]

The max item of each row of a matrix

In [64]:
def max_of_each_row(matrix):
    max_items = []
    for row in matrix:
        max_item = float('-inf')
        for item in row:
            if item > max_item:
                max_item = item
        max_items.append(max_item)
    return max_items

# Example usage
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = max_of_each_row(matrix)
print("Max item of each row:", result)

Max item of each row: [3, 6, 9]

Write a program to print the shape of a matrix

In [66]:
def matrix_shape(matrix):
    num_rows = len(matrix)
    num_columns = len(matrix[0]) if matrix else 0  # Assuming all rows have the same number of elements
    return (num_rows, num_columns)

# Example usage
matrix = [[1, 2, 3], [4, 5, 6]]
shape = matrix_shape(matrix)
print("Shape of the matrix:", shape)

Shape of the matrix: (2, 3)

Write a program that can convert an integer to string

In [69]:
integer = int(input("Enter an integer: "))
string = str(integer)
print("Integer to String: ",string)

Enter an integer: 24
Integer to String:  24

Write a program that can check if you can perform matrix multiplication on 2 ,matrices

In [73]:
def can_multiply(matrix1, matrix2):
    return len(matrix1[0]) == len(matrix2)

def matrix_multiply(matrix1, matrix2):
    result = []
    for i in range(len(matrix1)):
        row = []
        for j in range(len(matrix2[0])):
            sum = 0
            for k in range(len(matrix2)):
                sum += matrix1[i][k] * matrix2[k][j]
            row.append(sum)
        result.append(row)
    return result

# Example usage
def main():
    # Take input for the first matrix
    rows1 = int(input("Enter the number of rows for the first matrix: "))
    cols1 = int(input("Enter the number of columns for the first matrix: "))
    matrix1 = []
    print("Enter elements for the first matrix:")
    for i in range(rows1):
        row = list(map(int, input().split()))
        matrix1.append(row)

    # Take input for the second matrix
    rows2 = int(input("Enter the number of rows for the second matrix: "))
    cols2 = int(input("Enter the number of columns for the second matrix: "))
    matrix2 = []
    print("Enter elements for the second matrix:")
    for i in range(rows2):
        row = list(map(int, input().split()))
        matrix2.append(row)

    # Check if matrix multiplication is possible
    if can_multiply(matrix1, matrix2):
        # Perform matrix multiplication
        result_matrix = matrix_multiply(matrix1, matrix2)
        print("Result of matrix multiplication:")
        for row in result_matrix:
            print(row)
    else:
        print("Matrix multiplication is not possible.")

if __name__ == "__main__":
    main()

Enter the number of rows for the first matrix: 3
Enter the number of columns for the first matrix: 4
Enter elements for the first matrix:
1 2 3 4
5 6 7 8
9 0 1 2
Enter the number of rows for the second matrix: 4
Enter the number of columns for the second matrix: 2
Enter elements for the second matrix:
1 2
3 4
5 6
7 8
Result of matrix multiplication:
[50, 60]
[114, 140]
[28, 40]

Write a program that can sort a given unsorted list.Don't use any built in function for sorting

In [74]:
# Take input as a list of integers
unsorted_list = list(map(int, input("Enter a list of integers separated by space: ").split()))

# Sort the list
sorted_list = sorted(unsorted_list)

# Print the sorted list
print("Sorted list:", sorted_list)

Enter a list of integers separated by space: 2 44 5765 123 2 3
Sorted list: [2, 2, 3, 44, 123, 5765]

In [75]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n - 1):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]

# Take input as a list of integers
unsorted_list = list(map(int, input("Enter a list of integers separated by space: ").split()))

# Sort the list using bubble sort
bubble_sort(unsorted_list)

# Print the sorted list
print("Sorted list:", unsorted_list)

Enter a list of integers separated by space: 32 43 56 123 463 98 23 35
Sorted list: [23, 32, 35, 43, 56, 98, 123, 463]

Write a program that can find the most used word in a bollywood song.

In [1]:
def most_used_word(song_lyrics):
    # Split the song lyrics into words
    words = song_lyrics.lower().split()

    # Count the occurrences of each word using a dictionary
    word_count = {}
    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1

    # Find the word with the maximum count
    most_used_word = max(word_count, key=word_count.get)

    return most_used_word

# Example usage
song_lyrics = input("Enter the lyrics of a Bollywood song: ")
most_used = most_used_word(song_lyrics)
print("Most used word in the song:", most_used)

Enter the lyrics of a Bollywood song: Dekha zaror defa aapko phir bekarari kaise hai dekha ....
Most used word in the song: dekha

Assume a list with numbers from 1 to 10 and then convert it into a doctionary where the key would be the numbers of the list and the values would be the square of those numbers

In [2]:
number_list = list(range(1,11))

dic = {num : num**2 for num in number_list}

print("Dictionary: ",dic)

Dictionary:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Write a program to merge 2 given dictionary

In [5]:
# Function to take input for a dictionary from the user
def input_dictionary():
    my_dict = {}
    while True:
        key = input("Enter a key (press Enter to stop): ")
        if not key:
            break
        value = input("Enter a value: ")
        my_dict[key] = value
    return my_dict

# Take input for the first dictionary
print("Enter details for the first dictionary:")
dict1 = input_dictionary()

# Take input for the second dictionary
print("\nEnter details for the second dictionary:")
dict2 = input_dictionary()

# Merge the dictionaries
merged_dict = {**dict1, **dict2}

# Print the merged dictionary
print("\nMerged dictionary:", merged_dict)

Enter details for the first dictionary:
Enter a key (press Enter to stop): 1 2  3 4
Enter a value: 4 5 6 7
Enter a key (press Enter to stop): 1 2 4 5
Enter a value: 6 7 8 9
Enter a key (press Enter to stop):

Enter details for the second dictionary:
Enter a key (press Enter to stop): 1 2 3 4
Enter a value: 5 6 9 0
Enter a key (press Enter to stop):

Merged dictionary: {'1 2  3 4': '4 5 6 7', '1 2 4 5 ': '6 7 8 9', '1 2 3 4': '5 6 9 0 '}

Write a program to swap the key value pair for max and min values

In [11]:
def swap_max_min(dictionary):
    if not dictionary:
        return dictionary

    # Find the key corresponding to the maximum value
    max_key = max(dictionary, key=dictionary.get)
    # Find the key corresponding to the minimum value
    min_key = min(dictionary, key=dictionary.get)

    # Swap the values of max and min keys
    dictionary[max_key], dictionary[min_key] = dictionary[min_key], dictionary[max_key]

    return dictionary

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Swap the key-value pair for max and min values
swapped_dict = swap_max_min(my_dict)

# Print the result
# print("Original dictionary:", my_dict)
print("Dictionary after swapping max and min key-value pairs:", swapped_dict)

Dictionary after swapping max and min key-value pairs: {'a': 3, 'b': 2, 'c': 1}

Write a program to find histogram of a given set of numbers. Take bin size from user. Print the result in the form of a dictionary.

In [12]:
def histogram(numbers, bin_size):
    hist = {}
    for num in numbers:
        bin_number = num // bin_size
        if bin_number in hist:
            hist[bin_number] += 1
        else:
            hist[bin_number] = 1
    return hist

# Take input from the user
numbers = list(map(float, input("Enter a list of numbers separated by space: ").split()))
bin_size = float(input("Enter the bin size: "))

# Calculate the histogram
histogram_dict = histogram(numbers, bin_size)

# Print the histogram
print("Histogram:", histogram_dict)

Enter a list of numbers separated by space: 1 2 3 4 5 6 7 8 9 11 12 23 43 45
Enter the bin size: 2
Histogram: {0.0: 1, 1.0: 2, 2.0: 2, 3.0: 2, 4.0: 2, 5.0: 1, 6.0: 1, 11.0: 1, 21.0: 1, 22.0: 1}

Write a function that accepts a string and returns the number of upper case chars and lower case chars as a dictionary

In [13]:
def count_upper_lower_chars(string):
    upper_count = sum(1 for char in string if char.isupper())
    lower_count = sum(1 for char in string if char.islower())
    return {'upper': upper_count, 'lower': lower_count}

# Example usage
input_string = input("Enter a string: ")
char_counts = count_upper_lower_chars(input_string)
print("Counts of uppercase and lowercase characters:", char_counts)

Enter a string: Jainisha Choksi
Counts of uppercase and lowercase characters: {'upper': 2, 'lower': 12}

Write a function that accepts a list of strings and performs Bag of words and convert it to numerical vectors.

In [14]:
def bag_of_words(strings):
    # Create a set of unique words
    unique_words = set(word for string in strings for word in string.split())

    # Initialize a dictionary to store the numerical vectors
    numerical_vectors = []

    # Iterate through each string
    for string in strings:
        # Initialize a vector for the current string
        vector = []
        # Count the occurrences of each word in the string
        for word in unique_words:
            count = string.split().count(word)
            vector.append(count)
        numerical_vectors.append(vector)

    return numerical_vectors

# Example usage
strings = ["hello world", "world is beautiful", "hello beautiful world"]
numerical_vectors = bag_of_words(strings)
print("Numerical vectors (Bag of Words representation):")
for i, vector in enumerate(numerical_vectors, 1):
    print(f"String {i}: {vector}")

Numerical vectors (Bag of Words representation):
String 1: [0, 1, 1, 0]
String 2: [1, 1, 0, 1]
String 3: [1, 1, 1, 0]

Write a dummy program that can perform login and registration using a menu driven program

In [15]:
def register(users):
    username = input("Enter a username: ")
    if username in users:
        print("Username already exists. Please choose a different one.")
        return
    password = input("Enter a password: ")
    users[username] = password
    print("Registration successful!")

def login(users):
    username = input("Enter your username: ")
    password = input("Enter your password: ")
    if username in users and users[username] == password:
        print("Login successful!")
    else:
        print("Invalid username or password.")

def main():
    users = {}  # Dictionary to store registered users and their passwords

    while True:
        print("\nMenu:")
        print("1. Register")
        print("2. Login")
        print("3. Exit")

        choice = input("Enter your choice: ")

        if choice == "1":
            register(users)
        elif choice == "2":
            login(users)
        elif choice == "3":
            print("Exiting...")
            break
        else:
            print("Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

Menu:
1. Register
2. Login
3. Exit
Enter your choice: 1
Enter a username: Jainisha
Enter a password: jinu
Registration successful!

Menu:
1. Register
2. Login
3. Exit
Enter your choice: 1
Enter a username: Jainisha
Username already exists. Please choose a different one.

Menu:
1. Register
2. Login
3. Exit
Enter your choice:
Invalid choice. Please try again.

Menu:
1. Register
2. Login
3. Exit
Enter your choice: 3
Exiting...

Write a program that accepts neighbors(set of 2D co-ordinates) and a point(single 2D co-ordinate) and tells nearest neighbor(in terms of euclidean distance)

In [16]:
import math

def euclidean_distance(point1, point2):
    # Calculate Euclidean distance between two points
    return math.sqrt((point1[0] - point2[0])**2 + (point1[1] - point2[1])**2)

def nearest_neighbor(neighbors, point):
    # Initialize variables to store the nearest neighbor and its distance
    nearest = None
    min_distance = float('inf')

    # Iterate through each neighbor
    for neighbor in neighbors:
        # Calculate the distance between the neighbor and the point
        distance = euclidean_distance(neighbor, point)
        # Update nearest neighbor if the distance is smaller
        if distance < min_distance:
            nearest = neighbor
            min_distance = distance

    return nearest

# Example usage
neighbors = {(1, 2), (3, 4), (5, 6), (7, 8)}
point = (4, 5)
nearest = nearest_neighbor(neighbors, point)
print("Nearest neighbor to point", point, "is", nearest)

Nearest neighbor to point (4, 5) is (3, 4)

Write a function that accepts a number and returns its factorial. You can not use any loop

In [17]:
def factorial(n):
    # Base case: factorial of 0 is 1
    if n == 0:
        return 1
    # Recursive case: factorial of n is n times factorial of (n-1)
    else:
        return n * factorial(n - 1)

# Example usage
number = int(input("Enter a number: "))
result = factorial(number)
print(f"The factorial of {number} is {result}")

Enter a number: 5
The factorial of 5 is 120